<!-- <h1 mat-dialog-title>Image Upload</h1> -->
<mat-dialog-content>
    <input type="file" (change)="fileChangeEvent($event)" />
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [imageQuality]="90" [resizeToWidth]="0"vformat="jpg" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>
     <!-- [ngClass]="{ 'degree0':imageRotation === 0, 'degree90':imageRotation === 90, 'degree180':imageRotation === 180, 'degree270':imageRotation
    === 270 }" -->
    <h3 class="text-center" *ngIf="imageFinishedLoading">Image Preview</h3>
    <img class="img-preview img-fluid" [src]="croppedImage" />
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="dialogRef.close(croppedImage)" type="submit" value="upload" mat-raised-button class="submit-button ml-auto text-center"
        *ngIf="imageFinishedLoading">Select Photo</button>
</mat-dialog-actions>
<!-- <mat-dialog-actions>
     
    <button (click)="rotateImages()" type="submit" value="upload" mat-raised-button class="submit-button ml-auto text-center">Rotate Test</button>
    <button (click)="rotateBase64Image90deg(croppedImage)" mat-raised-button class="submit-button ml-auto text-center">Rotate</button>
    
    <button mat-raised-button (click)="dialogRef.close(croppedImage)" class="delete-button text-center" tabindex="-1">Close</button>
<label class="file-label">
    <input class="file-input" type="file" (clicl)="uploadFile($event)">
</label>
</mat-dialog-actions> -->
