<div class="">
  <div class="card mx-auto">
    <div class="card-header">
      Edit Presenter
    </div>
    <div class="card-body">
      <form #presenterForm="ngForm" (ngSubmit)="onSubmit(presenterForm)">
        <div class="form-container">
          <mat-form-field>
            <input matInput placeholder="Presenter Name" type="text" class="form-control" name="name" #presenterName="ngModel" [ngClass]="{'is-invalid':presenterName.errors && presenterName.touched}"
              [(ngModel)]="presenter.name" minlength="2" required>
            <!-- <div [hidden]="!presenterName.errors?.required" class="invalid-feedback ml-auto">
                    Presenter Name Required
                  </div>
                  <div [hidden]="!presenterName.errors?.minlength" class="invalid-feedback ml-auto">
                    Must be at least 2 characters
                  </div> -->
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Current Position" type="text" class="form-control" name="occupation" #presenterOccupation="ngModel"
              [ngClass]="{'is-invalid':presenterOccupation.errors && presenterOccupation.touched}" [(ngModel)]="presenter.occupation"
              minlength="2" required>
            <!-- <div [hidden]="!presenterOccupation.errors?.required" class="invalid-feedback">
                    Occupation Required
                  </div>
                  <div [hidden]="!presenterOccupation.errors?.minlength" class="invalid-feedback">
                    Must be at least 2 characters
                  </div> -->
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Presenter Bio" type="text" class="form-control" [ngClass]="{'is-invalid':presenterBio.errors && presenterBio.touched}"
              [(ngModel)]="presenter.bio" name="bio" #presenterBio="ngModel" minlength="10" required></textarea>
            <!-- <div [hidden]="!presenterBio.errors?.required" class="invalid-feedback">
                    Bio is required
                  </div>
                  <div [hidden]="!presenterBio.errors?.minlength" class="invalid-feedback">
                    Bio must be at least 10 characters
                  </div> -->
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" type="text" class="form-control" name="email" #presenterEmail="ngModel" [ngClass]="{'is-invalid':presenterEmail.errors && presenterEmail.touched}"
              [(ngModel)]="presenter.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <!-- <div [hidden]="!presenterEmail.errors?.required" class="invalid-feedback">
                    Email Required
                  </div>
                  <div [hidden]="!presenterEmail.errors?.pattern" class="invalid-feedback">
                    Email is not valid.
                  </div> -->
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Education" type="text" class="form-control" [ngClass]="{'is-invalid':presenterEducation.errors && presenterEducation.touched}"
              [(ngModel)]="presenter.education" name="education" #presenterEducation="ngModel" minlength="3">
            <!-- <div [hidden]="!presenterEducation.errors?.required" class="invalid-feedback">
                    Education is required
                  </div>
                  <div [hidden]="!presenterEducation.errors?.minlength" class="invalid-feedback">
                    Education must be at least 3 characters
                  </div> -->
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Current Employer" type="text" class="form-control" [ngClass]="{'is-invalid':presenterCurrentEmployer.errors && presenterCurrentEmployer.touched}"
              [(ngModel)]="presenter.currentEmployer" name="currentEmployer" #presenterCurrentEmployer="ngModel" minlength="3">
            <!-- <div [hidden]="!presenterCurrentEmployer.errors?.required" class="invalid-feedback">
                    CurrentEmployer is required
                  </div>
                  <div [hidden]="!presenterCurrentEmployer.errors?.minlength" class="invalid-feedback">
                    Employer must be at least 3 characters
                  </div> -->
          </mat-form-field>
          <mat-form-field>
            <!-- <div class="form-group">
                    
                  </div> -->
            <input matInput placeholder="Presenter Image" type="string" class="form-control" [(ngModel)]="presenter.imageURL" name="imageURL"
              #presenterImageURL="ngModel">
          </mat-form-field>

          <div class="file">
            <button type="button" value="open" (click)="openDialogUpload()" mat-raised-button class="submit-button ml-auto text-center">Select Photo</button>
          </div>
          
          <div *ngIf="uploadPercent | async as pct">
          
            <progress class="progress is-info" [value]="pct" max="100">
            </progress>
            <p *ngIf="pct == 100">Upload Complete</p>
          </div>
        </div>
        <div class="submit">
          <div class="mr-auto">
            <button type="button" (click)="openDialog()" mat-raised-button class="delete-button text-center">Delete</button>
          </div>
          <div class="ml-auto">
            <button type="submit" value="Submit" mat-raised-button class="submit-button text-center">Submit</button>
          </div>
        </div>

      </form>

    </div>
  </div>

  <!-- <div class="row">
    <div class="preview text-center">
      <h2>Edit Preview</h2>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="img-fluid" src="{{ workshop.imageURL }}" alt="{{ workshop.name + ' image' }}">
        <div class="card-body">
          <h3 class="card-text">{{ workshop.name }}</h3>
          <p class="card-text">{{ workshop.presenter }}</p>
          <p class="card-text">
            {{ (workshop.description.length > 200)? (workshop.description | slice:0:200) + '...':(workshop.description) }}
          </p>
        </div>
        <div class="card-footer">
          <div class="row">
            <p class="class-muted mr-auto details">Workshop Details</p>
            <p class="text-muted ml-auto available">Available Seats: {{ workshop.availableSeats }}</p>
          </div>
          <a *ngIf="admin" routerLink="/editworkshop/{{ workshop.id }}">Edit Workshops</a>
        </div>
      </div>
    </div>
  </div> -->
</div>