<div class="container">
  <div class="row text-center">
    <p class="header-title">Girls in Future Technology Day</p>
    <p class="header-body">"We are developing tomorow's innovators!"</p>
  </div>
  
  <div class="row">
    <div class="col-md-6 text-center">
      <a href="https://www.att.jobs/women-who-inspire-series/" target="_blank">
        <img class="img-fluid" src="../../assets/media/woa.jpg" alt="Women of AT&amp;T">
        <p class="learn">Learn More about Women of AT&amp;T</p>
      </a>
    </div>
    <div class="col-md-6 text-center">
      <a href="http://about.att.com/content/csr/home/possibilities/at-t-aspire.html" target="_blank">
        <img class="img-fluid" src="../../assets/media/aspire.jpg" alt="AT&amp;T Aspire">
        <p class="learn">Learn More about AT&amp;T Aspire</p>
      </a>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <div class="card-header text-center">STEM Conference</div>
      <img src="../../assets/media/box1.jpg" alt="box1 Image" class="card-img-top">
      <div class="card-body">
        <p>The Kansas City chapters for ASPIRE and the Women of AT&amp;T are thrilled to announce they are partnering with the
          Metropolitan Community College’s Business &amp; Technology campus to host a Girls in STEM conference this fall.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header text-center">The Experience</div>
      <img src="../../assets/media/box2.jpg" alt="box2 Image" class="card-img-top">
      <div class="card-body">
        <p>This event will be comprised of speakers, workshops, interactive booths, and engaging activities. Students will see
          and experience real AT&amp;T equipment.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header text-center">Community Involvement</div>
      <img src="../../assets/media/box3.jpg" alt="box3 Image" class="card-img-top">
      <div class="card-body">
        <p>Scientists, engineers, and technological specialists from various organizations around the metro area will be present
          to afford the girls an amazing opportunity learning about all types of jobs and careers available across many industries.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header text-center">Employment, Internships, and Scholarships</div>
      <img src="../../assets/media/box4.jpg" alt="box4 Image" class="card-img-top">
      <div class="card-body">
        <p>Students will learn about employment opportunities, available scholarships, and internships.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header text-center">Registration for students and volunteers</div>
      <img src="../../assets/media/box5.jpg" alt="box5 Image" class="card-img-top">
      <div class="card-body">
        <p>Anyone interested in attending or volunteering must register online. The registration link will be included on the invitations
          and event flyers.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header text-center">Mentorship</div>
      <img src="../../assets/media/box6.jpg" alt="box6 Image" class="card-img-top">
      <div class="card-body">
        <p>
          A mentor empowers a person to see a possible future, and believe it can be obtained.
        </p>
    
      </div>
    </div>
  </div>


</div>
  
