.result img {
    max-width: 300px;
    max-height: 225px;
}

.image-upload {
    margin-top: 10px;
}

.current-image img {
    margin-bottom: 10px;
    width: 100%;
}

.change-image {
    color: var(--main-blue);
}