<mat-dialog-content>
    <input type="file" (change)="fileChangeEvent($event)" />
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [imageQuality]="90" [resizeToWidth]="0"vformat="jpg" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>
    <h3 class="text-center" *ngIf="imageFinishedLoading">Image Preview</h3>
    <img class="img-preview img-fluid" [src]="croppedImage" />
</mat-dialog-content>
<mat-dialog-actions>
    <div *ngIf="imageFinishedLoading" class="mr-auto">
        <button mat-raised-button (click)="onNoClick()" class="cancel-button text-center" tabindex="-1">Cancel</button>
    </div>
    <div *ngIf="imageFinishedLoading" class="ml-auto">
        <button (click)="dialogRef.close(croppedImage)" type="submit" value="upload" mat-raised-button class="submit-button text-center">Select Photo</button>
    </div>
</mat-dialog-actions>

