.navbar-brand {
    font-family: 'Lora', serif;
    font-size: 2em;
    color: white;
    font-weight: bold;
}

.navbar {
    background-color: var(--orange-dark);
}

.nav-item a {
    color: white;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .navbar {
        background-color: #FFC107;
    }
 }