<div class="container">
  <div class="row">
    <div class="col-md-6 bio-header">
      <div class="workshop-return">
        <a routerLink="/presenters" class="btn btn-sm btn-outline-info">
          <i class="fa fa-backward"></i> All Presenters
        </a>
      </div>

      <h1>{{ presenter.name }}</h1>
      <p>{{ presenter.occupation }}
        <span *ngIf="presenter.currentEmployer"> at </span>{{ presenter.currentEmployer }}</p>
      <p *ngIf="presenter.education">{{ presenter.education }}</p>
      <a *ngIf="presenter.email" href="mailto:{{ presenter.email }}?Subject=GIFT%20Day">{{ presenter.email }}</a>
    </div>
    <div class="col-md-6 bio-image">
      <img class="img-fluid" src="{{ presenter.imageURL }}" alt="{{ presenter.name + 'image' }}">
    </div>
  </div>
  <div class="row">
    <div class="bio">
      <p>{{ presenter.bio }}</p>
    </div>
  </div>
</div>

<mat-divider></mat-divider>
<div class="presenters-avail-workshops text-center">
  <p>{{ presenter.name }} Workshop</p>
</div>

<div *ngFor="let workshop of workshops">
  <div class="card mx-auto" *ngIf="workshop.presenter1 == presenter.id || workshop.presenter2 == presenter.id">
    <img class="img-fluid" src="{{ workshop.imageURL }}" alt="{{ workshop.name + 'image' }}" routerLink="/workshops/{{ workshop.id }}">
    <div class="card-header">
      {{ workshop.name }}
    </div>
    <div class="card-body">
      {{ (workshop.description.length > 200)? (workshop.description | slice:0:200) + '...':(workshop.description) }}
    </div>
    <div class="card-footer" routerLink="/workshops/{{ workshop.id }}">
      <div>
        <p class="availability text-center">Workshop Availability</p>
      </div>
      <div>
        <mat-chip-list>
          <div class="row">
            <mat-chip [ngClass]="((workshop.session1.totalSeats - workshop.session1.registered.length) > 10) ? 'sessions col' : ((workshop.session1.totalSeats - workshop.session1.registered.length) == 0) ? 'sessions col session-out' : 'sessions col session-low'"
              routerLink="/workshops/{{ workshop.id }}">
              <p class="text-center">
                Session 1
              </p>
              <p class="text-center">
                {{ workshop.session1.totalSeats - workshop.session1.registered.length }}
              </p>
            </mat-chip>
            <mat-chip [ngClass]="((workshop.session2.totalSeats - workshop.session2.registered.length) > 10) ? 'sessions col' : ((workshop.session2.totalSeats
                    - workshop.session2.registered.length) == 0) ? 'sessions col session-out' : 'sessions col session-low'"
              routerLink="/workshops/{{ workshop.id }}">
              <p class="text-center">
                Session 2
              </p>
              <p class="text-center">
                {{ workshop.session2.totalSeats - workshop.session2.registered.length }}
              </p>
            </mat-chip>
            <mat-chip [ngClass]="((workshop.session3.totalSeats - workshop.session3.registered.length) > 10) ? 'sessions col' : ((workshop.session3.totalSeats
                    - workshop.session3.registered.length) == 0) ? 'sessions col session-out' : 'sessions col session-low'"
              routerLink="/workshops/{{ workshop.id }}">
              <p class="text-center">
                Session 3
              </p>
              <p class="text-center">
                {{ workshop.session3.totalSeats - workshop.session3.registered.length }}
              </p>
            </mat-chip>
          </div>


        </mat-chip-list>
      </div>
    </div>
  </div>
</div>

<div class="workshop-return">
  <a routerLink="/presenters" class="btn btn-sm btn-outline-info">
    <i class="fa fa-backward"></i> All Presenters
  </a>
</div>