/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lora');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* { 
--main-orange: #FFC107;
--main-blue: #40C4FF;
--main-grey: #FAFAFA;
/* --orange-dark: #E89E00; */
--orange-dark: #FFAB00;
--offset-blue: #07C1FF;
--accent-green: #69ff64;
--accent-blue:  #0745FF;
--accent-red:  #ff470b;
--accent-purple: #C107FF;
--accent-yellow: #e3ff07;
}

* {
    font-family: 'Lora', serif;
}
.mat-form-field-wrapper {
    padding-bottom: 5px;
    padding-top: 10px;
}
.submit-button {
    background-color: var(--main-blue);
    max-width: 150px;
    color: white;
    font-size: 1.25em;
    min-width: 100px;
}
.delete-button {
    background-color: var(--accent-red);
    max-width: 150px;
    color: white!important;
    font-size: 1.25em;
    min-width: 100px;
}
.cancel-button {
    background-color: white;
    max-width: 150px;
    color: black;
    font-size: 1.25em;
    min-width: 100px;
}
.select-button {
    background-color: #e2e2e2;
    max-width: 150px;
    color: black;
    font-size: 1em;
    min-width: 100px;
}
.submit {
    display: flex;
    margin-top: 15px;
}

.confirm-cancel {
    margin-left: 25px;
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}
.progress {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}
.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}



.dropzone {
    margin-top: 10px;
}

.mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    width: 100%;
}

/* .card {
    max-width: 400px;
    margin-right: 0px;
    margin-left: 0px;
}

.card-header {
    background-color: var(--main-orange)!important;
    color: white;
    font-size: 1.5em;
} */

.card {
    margin-bottom: 10px!important;
    max-width: 400px!important;
    min-width: 292px!important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)!important;
}

.card-header {
    background-color: var(--main-orange)!important;
    color: white!important;
    font-weight: bolder!important;
}

.card-body {
    background-color: var(--main-grey);
}

.card-footer {
    /* background-color: var(--main-blue); */
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: white;
}

.rotate {
    max-width: 175px!important;
    margin-top: 10px;
}

.mat-dialog-container {
    margin: auto;
    max-width: 450px;
    padding: 15px!important;
}

.mat-dialog-content {
    max-height: 95vh!important;
    max-width: 435px;
}

.mat-dialog-content input {
    width: 100%;
} 

.load-bar {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}